<script>
    var nameFile = JSON.parse('<%- JSON.stringify(nameFile)%>');
</script>
<div class="wrapper">
    <div>
        <section class="content">
            <div class="container-fluid">

                <div class="card">
                    <div class="card-header ">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-outline-danger btn-sm mr-2"
                                id="btn-cancel-upload-logo">
                                Hủy
                            </button>
                            <button type="button" id="btn-upload-logo" class="btn btn-primary btn-sm">
                                Lưu
                            </button>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="custom-file col-sm-6">
                            <input type="file" class="custom-file-input" name="logo" id="logo" value="<%- logoPath %>"
                                class="validate[required]">
                            <label class="custom-file-label text-center" for="customFile">
                                <div class="default-text text-center <%- nameFile ? 'd-none' : '' %> ">
                                    <span class="font-weight-light"> <i class="fas fa-cloud-upload-alt"></i> Kéo
                                        ảnh vào box hoặc</span>
                                    <span class="text-primary">chọn từ máy</span>
                                </div>
                                <% if(nameFile){ %>
                                    <span class="name-file-logo">
                                        <%- nameFile %>
                                    </span>
                                    <% } %>
                            </label>
                        </div>
                        <div style="width: 500px;" id="previewImg" class="<%- imageLink ? '' : 'd-none' %>">
                            <img src="<%- imageLink %>" alt="logo" class="brand-image mt-4"
                                style="width: 80%; margin: 2px 0.3rem; max-height: 110px;">
                            <i class="fa fa-trash" aria-hidden="true" title="Click để xóa"></i>
                        </div>
                        <div style="width: 600px;" class="<%- imageLink ? 'd-none' : ''  %>" id="previewImg-error">
                            <span style="width: 100%;
                            margin-top: 0.25rem;
                            font-size: 80%;
                            color: #dc3545;">*Chỉ upload 1 ảnh,nhận định dạng ảnh .png và .jpeg ảnh upload không quá
                                2.5MB, tỷ lệ ảnh đề nghị: W/H = 3/1</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>