<script>
  var scoreScript = JSON.parse('<%- JSON.stringify(scoreScript)%>')
  var CONST_RATING_BY = JSON.parse('<%- JSON.stringify(CONST_RATING_BY)%>')
  var CONST_CALL_TYPE = JSON.parse('<%- JSON.stringify(CONST_CALL_TYPE)%>')
  var CONST_STATUS = JSON.parse('<%- JSON.stringify(CONST_STATUS)%>')
  var CONST_DATA = JSON.parse('<%- JSON.stringify(CONST_DATA)%>')
  var CONST_COND = JSON.parse('<%- JSON.stringify(CONST_COND)%>')
  var ScoreTarget = JSON.parse('<%- JSON.stringify(ScoreTarget)%>')
  var ScoreTargetAuto = JSON.parse('<%- JSON.stringify(ScoreTargetAuto)%>')
  var ScoreTargetCond = JSON.parse('<%- JSON.stringify(ScoreTargetCond)%>')
  var ScoreTarget_ScoreScript = JSON.parse('<%- JSON.stringify(ScoreTarget_ScoreScript)%>')

  var _users = JSON.parse('<%- JSON.stringify(users)%>')
  var _teams = JSON.parse('<%- JSON.stringify(teams)%>')
  var _groups = JSON.parse('<%- JSON.stringify(groups)%>')

  var _userAssigned = JSON.parse('<%- JSON.stringify(userAssigned)%>')
  var _isEdit = <%- isEdit %>

</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<div class="wrapper">
  <div>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/scoreTarget">
                  <h5>&lsaquo; Quản lí mục tiêu</h5>
                </a>
              </li>
            </ol>
          </div>

        </div>

        <div class="card">
          <div class="card-body">
            <form id="form_target_general">
              <div class="row">

                <div class="form-group col-sm-3">
                  <input type="text" class="form-control input" id="name" name="name" placeholder="Mục tiêu" />
                  <span class="d-none duplicateNameScoreTarget">Tên mục tiêu đã được sử dụng</span>
                </div>

                <div class="form-group col-sm-3 ml-auto text-left">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_assignment_scoreTarget">Phân công</button>
                  <button type="button" class="btn btn-primary" id="btn_duplicate_scoreTarget">Nhân bản</button>
                </div>

                <div class="form-group col-sm-6 ml-auto text-right">
                  <button type="button" class="btn btn-default" data-dismiss="modal" id="btn_cancel_scoreTarget">Hủy</button>
                  <button type="button" id="btn_save_scoreTarget" data-id="<%- ScoreTarget ? ScoreTarget.id : '' %>" class="btn btn-primary">Lưu</button>
                </div>

              </div>

              <ul class="nav" id="tablist" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="tab-score-script-general-tab" data-toggle="pill"
                    href="#tab-score-target-general" role="tab" aria-controls="tab-score-script-general"
                    aria-selected="true">Chung</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="tab-score-target-auto-tab" data-toggle="pill" href="#tab-score-target-auto"
                    role="tab" aria-controls="tab-score-script-script" aria-selected="false">Chấm tự động</a>
                </li>
              </ul>

              <div class="tab-content" id="tab-score-script-tabContent">

                <!-- tab chung -->
                <%- include('./tab.target.general.ejs', { scoreScript , CONST_RATING_BY , CONST_CALL_TYPE, CONST_STATUS}) %>
                  <!-- end tab chung -->

                  <!-- tab auto -->
                  <%- include('./tap.target.auto.ejs') %>
                    <!-- end tab auto -->
                  <link href="/assets/pages/scoreTarget/tapTargetAuto/style.css" rel="stylesheet">
                  <script type="text/javascript" src="/assets/pages/scoreTarget/tapTargetAuto/script.js" defer></script>
              </div>

            </form>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>

<div class="modal fade" id="modal_assignment_scoreTarget" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content" id="modal_content_assignment_scoreTarget">
          <div class="modal-header">
              <h5 class="modal-title">Phân công</h5>
          </div>
          <div class="modal-body">
            <div>
              <select id="listBoxAssignment" multiple="multiple">
                <%
                  listUserAssignment.forEach(el =>{ %>
                    <option value="<%- el.id %>"><%- el.fullName + ' (' + el.userName +  ')' %></option>
                  <%}) 
                %>
              </select>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="cancelModalAssignment"  data-dismiss="modal">Hủy</button>
              <button type="button" class="btn btn-success" id="confirmAssignmentScoreTarget" data-id="<%- ScoreTarget.id %>">Xác nhận</button>
          </div>
      </div>
  </div>
</div>