<script>
  var OP_UNIT_DISPLAY = JSON.parse('<%- JSON.stringify(OP_UNIT_DISPLAY)%>');
</script>
<% let isEdit = scoreScript ? true : false%>
<div class="wrapper">
  <div>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/scoreScripts">
                  <h5>&lsaquo; Quản lý kịch bản</h5>
                </a>
              </li>
            </ol>
          </div>



        </div>

        <div class="card">

          <div class="card-body">

            <form id="form_new_scoreSripts" onsubmit="return false">

              <div class="row">
                <div class="form-group col-sm-3">
                  <% if (isEdit) { %>
                    <% } else { %> 
                    <% } %> 
                  <input 
                  <%- isEdit ? 'value="' + scoreScript.name +'"' : '' %> 

                  type="text" class="form-control input" id="name" name="name" placeholder="kịch bản" />
                </div>

                <% if (isEdit) { %>
                  <div class="form-group col-sm-3">
                    <button type="button" id="btnClone" class="btn btn-primary">Nhân bản</button>
                  </div>
                <% } %> 
                
                
                <div class="form-group col-sm-6 ml-auto text-right">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                  <button type="submit" id="btn_save_scoreSripts" class="btn btn-primary">Lưu</button>
                </div>

              </div>

              <ul class="nav" id="tablist" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="tab-score-script-general-tab" data-toggle="pill"
                    href="#tab-score-script-general" role="tab" aria-controls="tab-score-script-general"
                    aria-selected="true">Chung</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " id="tab-score-script-script-tab" data-toggle="pill"
                    href="#tab-score-script-script" role="tab" aria-controls="tab-score-script-script"
                    aria-selected="false">Kịch bản</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="tab-score-script-preview-tab" data-toggle="pill"
                    href="#tab-score-script-preview" role="tab" aria-controls="tab-score-script-preview"
                    aria-selected="false">Xem trước</a>
                </li>
              </ul>

              <div class="tab-content" id="tab-score-script-tabContent">

                <!-- tab chung -->
                  <%- include('./tab.script.general.ejs', { OP_UNIT_DISPLAY, scoreScript }) %>
                <!-- end tab chung -->

                <!-- tab kịch bản -->
                  <%- include('./tab.script.ejs', { scoreScript }) %>
                <!-- end tab kịch bản -->

                <!-- tab Xem trước -->
                  <%- include('./tab.script.preview.ejs', { STATUS_SCORE_SCRIPT }) %>
                <!-- end tab Xem trước -->

              </div>

            </form>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>

<div class="modal fade" id="modal_del_group">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Xóa</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form_delete_group" onsubmit="return false">
          <div>
            <div class="border-bottom border-dark">
              <h3>Nhóm sẽ bị xóa khỏi hệ thống</h3>
              <p> Xác nhận? </p>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <div class="modal-footer justify-content-between"> -->
            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-danger">Xác nhận</button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->