<div class="tab-pane fade" id="tab-score-script-script" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">

    <!-- template nhom tieu chi -->
    <div id="tempCriteriaGroup" class="d-none">
        <%- include('./temp.criteria.group.ejs', { criteriaGroup: null, isEdit:false }) %>
    </div>
    <!-- end template nhom tieu chi -->

    <!-- template nhom tieu chi detail-->
    <div id="tempCriteriaGroupDetail" class="d-none">
        <%- include('./temp.criteria.group.detail.ejs') %>
    </div>
    <!-- end template nhom tieu chi detail-->

    <!-- template nút thêm tiêu chí -->
    <div id="tempBtnAddCriteria" class="d-none">
        <%- include('./btn.add.ejs', { BTN_TITLE: 'Thêm tiêu chí', BTN_CLASS_NAME : 'add-criteria' }) %>
    </div>
    <!-- end template nút thêm tiêu chí -->

    <!-- template nút thêm lựa chọn -->
    <div id="tempBtnAddSelectionCriteria" class="d-none">
        <%- include('./btn.add.ejs', { BTN_TITLE: 'Thêm lựa chọn', BTN_CLASS_NAME : 'add-selection-criteria' }) %>
    </div>
    <!-- end template nút thêm lựa chọn -->

    <!-- Danh sách nhóm tiêu chí -->
    <div id="scoreScript" class="pt-3">

    </div>
    <!-- end Danh sách nhóm tiêu chí -->
    <%- include('./btn.add.ejs', { BTN_TITLE: 'Thêm nhóm tiêu chí', BTN_CLASS_NAME : 'add-criteria-group' }) %>

</div>