<div class="tab-pane fade" id="tab-score-script-preview" role="tabpanel"
    aria-labelledby="custom-tabs-three-messages-tab">
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Trạng thái <span class="text-danger">*</span></label>
        <div class="col-sm-3">

            <select class="form-control selectpicker input" name="status" id="status">
                <% Object.keys(STATUS_SCORE_SCRIPT).forEach((item)=> { %>
                <option 
                    value="<%= STATUS_SCORE_SCRIPT[item].n %>" 
                    <%= STATUS_SCORE_SCRIPT[item].default && isEdit == false ? STATUS_SCORE_SCRIPT[item].default : null %> 
                    id="<%- item %>"
                    data-id='<%- scoreScript ? scoreScript.id : '' %>'
                >
                    <%= STATUS_SCORE_SCRIPT[item].t %>
                </option>
                <% }); %>

            </select>
        </div>
    </div>

    <div id="data_preview" class="row">

    </div>
</div>

<div class="modal fade" id="activeScoreScript" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Trạng thái</h5>
        </div>
        <div class="modal-body">
          Kịch bản sẽ chuyển trạng thái hoạt động và không được sửa các thông tin đã cấu hình.Xác nhận ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary" id="confirmActiveScoreScript">Xác nhận</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="unActiveScoreScript" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Trạng thái</h5>
        </div>
        <div class="modal-body">
          Kịch bản sẽ ngừng hoạt động vĩnh viễn.Xác nhận ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-danger" id="confirmUnActiveScoreScript">Xác nhận</button>
        </div>
      </div>
    </div>
</div>