<!-- general form elements -->
<div class="card card-primary">
  <!-- form start -->
  <form id="quickForm">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="inputPageID">Page ID</label>
            <input type="text" name="inputPageID" value="<%= data.pageID%>" class="form-control" id="inputPageID">
          </div>
          <!-- <div class="form-group">
            <label for="inputChatID">Chat entry poin ID</label>
            <input type="text" name="inputChatID" value="<%= data.chatEntryPointId%>" class="form-control"
              id="inputChatID">
          </div> -->
          <div class="form-group">
            <label for="inputChatID">Chat entry poin ID</label>
            <select class="form-control" name="inputChatID" id="inputChatID">
              <option selected disabled hidden>Chọn...</option>
              <% Object.keys(chatEntryPoinID).forEach(function(key){ %>
                <option value="<%= key %>" <%=key==data.chatEntryPointId ? 'selected' : '' %>>
                  <%= key %> - <%= chatEntryPoinID[key].name %>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="form-group">
            <label for="inputAccessToken">Access token</label>
            <textarea class="form-control" name="inputAccessToken" id="inputAccessToken"
              rows="3"><%= data.access_token%></textarea>
          </div>
          <div class="form-group">
            <label for="inputTernalURL">Ternal URL</label>
            <input type="text" name="inputTernalURL" class="form-control" id="inputTernalURL"
              value="<%= data.ternalURL %>">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="checkboxActive" <%=data.active=='true' ? 'checked' : ''
              %>>
            <label class="form-check-label" for="checkboxActive">Active</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="inputPageName">Page name</label>
            <input type="text" name="inputPageName" value="<%= data.pageName%>" class="form-control" id="inputPageName">
          </div>
          <div class="form-group">
            <label for="inputMessageWelcome">Message welcome</label>
            <textarea class="form-control input-message bg-light" readonly name="inputMessageWelcome"
              id="inputMessageWelcome" data-target="message-welcome" rows="2"><%= data.welcome%></textarea>
          </div>
          <div class="form-group">
            <label for="inputMessageGoodbye">Message goodbye</label>
            <textarea class="form-control input-message bg-light" readonly name="inputMessageGoodbye"
              id="inputMessageGoodbye" data-target="message-goodbye" rows="2"><%= data.goodbye%></textarea>
          </div>
          <div class="form-group">
            <label for="inputTernalToken">Ternal token</label>
            <textarea class="form-control" name="inputTernalToken" id="inputTernalToken"
              rows="3"><%= data.ternalToken %></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="button" id="cancelBtn" class="btn btn-default">Quay lại</button>
      <button type="submit" class="btn btn-primary">Xác nhận</button>
    </div>
  </form>

  <div class="modal fade" id="modal-variable">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Message</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="message_form">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="message">Message: </label>
                  <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="inputMessageWelcome">Thêm biến: </label>
                  <button type="button" class="btn btn-default add-variable" data-target="{pageName}">
                    pageName
                  </button>
                  <button type="button" class="btn btn-default add-variable" data-target="{customerName}">
                    customerName
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary" id="btn_save_message">Lưu</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

</div>
<!-- /.card -->