<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <a href="/manage-pages/create">
          <button type="button" class="btn btn-success">
            <i class="fas fa-plus"></i>
            Tạo mới
          </button>
        </a>
        <button type="button" class="btn btn-primary" id="async_data">
          <i class="fas fa-sync-alt" id="icon_sync"></i>
          Đồng bộ
        </button>
      </div>
      <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Page ID</th>
              <th>Page name</th>
              <th>Chat entry point ID</th>
              <th>Access token</th>
              <th>Ternal URL</th>
              <th>Ternal token</th>
              <th>Mesage welcome</th>
              <th>Mesage goodbye</th>
              <th>Action</th>
              <th>Active</th>
            </tr>
          </thead>
          <tbody id="tableBody">
            <% data.forEach(function(el) { %>
              <tr>
                <td>
                  <%= el.pageID %>
                </td>
                <td>
                  <%= el.pageName %>
                </td>
                <td class="text-nowrap">
                  <% if (chatEntryPoinID[el.chatEntryPointId]) { %>
                    <%= el.chatEntryPointId %> - <%= chatEntryPoinID[el.chatEntryPointId].name %>
                  <% } else { %>
                    <%= el.chatEntryPointId %>
                  <% } %>
                  
                </td>
                <td>
                  <p class="text-token">
                    <%= el.access_token %>
                  </p>
                </td>
                <td>
                  <%= el.ternalURL %>
                </td>
                <td>
                  <p class="text-token">
                    <%= el.ternalToken %>
                  </p>
                </td>
                <td>
                  <%= el.welcome %>
                </td>
                <td>
                  <%= el.goodbye %>
                </td>
                <td>
                  <a href="/manage-pages/edit/<%= el._id %>">
                    <button type="button" class="btn btn-primary btn-xs">
                      <i class="fas fa-pen"></i>
                      Sửa
                    </button>
                  </a>
                  <a class="btn-remove" page-id="<%= el._id  %>">
                    <button type="button" class="btn btn-danger btn-xs">
                      <i class="fas fa-trash"></i>
                      Xóa
                    </button>
                  </a>
                </td>
                <td>
                  <input type="checkbox" class="checkbox-active" page-id="<%= el._id %>" <%=el.active=='true'
                    ? 'checked' : '' %> />
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>
      <div class="card-footer d-flex">
        <span class="text-danger">* Chú thích: </span>
        <div class="ml-2">
          <% Object.keys(chatEntryPoinID).forEach(function(key){ %>
            <p class="mb-0">
              <%= key %> - <%= chatEntryPoinID[key].note %>
            </p>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>