<script>
    var headerDefault = JSON.parse('<%- JSON.stringify(headerDefault)%>');
</script>
<div class="wrapper">
    <div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header col-12 row">
                                <div class="col-6 d-flex justify-content-start">
                                    <select class="col-4 selectpicker input" name="scoreTargetId" id="scoreTargetId">
                                        <% scoreTarget.forEach((ele)=> { %>
                                            <option value="<%- ele.id %>">
                                                <%- ele.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <a type="button" class="align-self-center text-dark mr-2" data-toggle="modal"
                                        title="Tùy chỉnh bảng" data-target="#modal_customs_table">
                                        <i class="fas fa-bars fa-lg"></i>
                                    </a>
                                    <a type="button" class="align-self-center text-dark" data-toggle="modal"
                                        title="Thiết lập chung" data-target="#modal_general_setting">
                                        <i class="fas fa-cog fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="wrapper-table">
                                    <table class="table-left custom-table">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Mã cuộc gọi</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody class="content-table-left"></tbody>
                                    </table>
                                    <table class="table-right custom-table">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Điểm đánh giá thủ công</th>
                                                <th>Điểm đánh giá tự động</th>
                                                <th>Kết quả đánh giá</th>
                                                <th>Hướng gọi</th>
                                                <th>Điện thoại viên</th>
                                                <th>Đội ngũ</th>
                                                <th>Nhóm</th>
                                                <th>Số gọi đi</th>
                                                <th>Số gọi đến</th>
                                                <th>Ngày giờ gọi</th>
                                                <th>Thời lượng</th>
                                            </tr>
                                        </thead>
                                        <tbody class="content-table-right"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <div class="col-12 d-flex justify-content-center" id="paging_table">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="modal fade" id="modal_customs_table">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tùy chỉnh bảng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li class="mb-3 border-bottom">
                        <input class="form-check-input" type="checkbox" name="" id="select-all" />
                        <label>Chọn tất cả</label>
                    </li>
                </ul>
                <ul id="sortable">
                    <div class="">
                        <ul class="mb-3 ">Mã cuộc gọi</ul>
                        <ul class="mb-3 border-bottom">Thao tác</ul>
                    </div>
                    <% Object.keys(headerDefault).forEach((i)=> { %>
                        <li class="mb-3 border-bottom">
                            <input class="form-check-input" type="checkbox" name="<%= i %>"
                                <%=headerDefault[i].status==1 ? 'checked' :'' %> />
                            <%= headerDefault[i].name%>
                                <span style="float: right;">
                                    <i class="fas fa-arrows-alt" title="Giữ kéo/thả để sắp xếp"></i>
                                </span>
                        </li>
                        <% }) %>
                </ul>

                <div class="modal-footer justify-content-between">
                    <div>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                            id="resetColumnCustom">
                            <i class="far fa-trash-alt"></i>
                            <span>Phục hồi mặc định</span>
                        </button>

                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                            <span>×</span>
                            <span>Hủy</span>
                        </button>
                        <button type="button" class="btn btn-primary" id="btn_save_customs">
                            <i class="fas fa-search p-0"></i>
                            <span>Lưu tùy chỉnh</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('./popupCallScore.ejs') %>


    <div class="modal fade" id="modal_general_setting">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thiết lập chung</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <form id="formBlockUser" autocomplete="off">
                        <div class="form-group mb-5 ml-2">
                            <span>Danh sách nhiệm vụ chấm điểm gồm</span>
                            <select class=" selectpicker form-control input">
                                <option selected value="">Không hiển thị cuộc gọi đã hoàn tất chấm điểm</option>
                                <option value="">Hiển thị cuộc gọi đã hoàn tất chấm điểm</option>
                            </select>
                        </div>
                        <div class="modal-footer justify-content-end">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                            <button type="button" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="showDetailRecord" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog showDetailRecord" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chi tiết file ghi âm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="waveform-time-indicator" class="ml-sm-2">
                    <span class="time">00:00:00</span> / <span class="totalTime">00:00:00</span>
                </div>
                <div class="modal-body" id="formDetailRecord">

                </div>
                <div class="row controls mt-sm-3 mb-sm-3">
                    <div class="col-md-3">
                        <button class="btn btn-primary" data-action="play">Phát / Tạm dừng</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" data-action="back"><i class="fas fa-fast-backward"></i> 10s
                            trước</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" data-action="forward"><i class="fas fa-fast-forward"></i> 10s
                            sau</button>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown show">
                            <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tốc độ phát / <span id="defaultPlaySpeed"></span><i class="fa fa-caret-down"
                                    aria-hidden="true"></i>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" role="button" data-val="0.25">0.25</a>
                                <a class="dropdown-item" role="button" data-val="0.5">0.5</a>
                                <a class="dropdown-item" role="button" data-val="0.75">0.75</a>
                                <a class="dropdown-item" role="button" data-val="1">Chuẩn</a>
                                <a class="dropdown-item" role="button" data-val="1.25">1.25</a>
                                <a class="dropdown-item" role="button" data-val="1.5">1.5</a>
                                <a class="dropdown-item" role="button" data-val="1.75">1.75</a>
                                <a class="dropdown-item" role="button" data-val="2">2</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" id="downloadFile">Tải về</button>
                    </div>
                </div>
            </div>