<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header row">
        <div class="col-12 d-flex justify-content-between">
          <form class="col-10" id="form_search">
            <div class="row">
              <div class="col-2">
                <div class="form-group">
                  <label>Ngày gọi từ
                    <span class="text-danger">*</span>
                  </label>
                  <div class="input-group date" id="startTime" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input input" name="startTime"
                      data-target="#startTime" autocomplete="off" />
                    <div class="input-group-append" data-target="#startTime" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label>
                    Đến
                    <span class="text-danger">*</span>
                  </label>
                  <div class="input-group date" id="endTime" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input input" name="endTime"
                      data-target="#endTime" autocomplete="off" />
                    <div class="input-group-append" data-target="#endTime" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label>Số gọi đi</label>
                  <input type="text" class="form-control input" name="caller" />
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label>Số gọi đến</label>
                  <input type="text" class="form-control input" name="called" />
                </div>
              </div>
              <div class="col-2 d-flex">
                <div class="mr-2">
                  <button type="button" class="form-control btn btn-primary btn-circle btn-sm" id="search">
                    <i class="fas fa-search p-0"></i>
                  </button>
                </div>
                <div class="mr-2">
                  <button type="button" class="form-control btn btn-primary btn-sm" id="popup_search"
                    data-toggle="modal" data-target="#modal_search">
                    <i class="fas fa-filter"></i>
                  </button>
                </div>
                <div class="mr-2">
                  <button type="button" class="form-control btn btn-primary btn-sm" id="customs_table"
                    data-toggle="modal" title="Tùy chỉnh bảng" data-target="#modal_customs_table">
                    <i class="fas fa-cog"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
          <button type="button" class="form-control btn btn-primary" id="export_excel">
            Xuất Excel
          </button>
        </div>
      </div>
      <div class="card-body">
        <table id="tableRecording" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center sortHeader direction">Hướng gọi</th>
              <th class="text-center sortHeader agentName">Điện thoại viên</th>
              <th class="text-center sortHeader teamName">Nhóm</th>
              <th class="text-center sortHeader caller">Số gọi đi</th>
              <th class="text-center sortHeader called">Số gọi đến</th>
              <th class="text-center sortHeader origTime">Ngày giờ gọi</th>
              <th class="text-center sortHeader duration">Thời lượng</th>
              <th class="text-center sortHeader audioHtml col-recording">Ghi âm</th>
            </tr>
          </thead>
          <tbody id="table_data"></tbody>
        </table>
      </div>
      <div class="card-footer text-center">
        <div class="col-12 d-flex justify-content-center" id="paging_table"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_search">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Tìm kiếm nâng cao</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form_advanced_search">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Ngày gọi từ <span class="text-danger">*</span></label>
                <div class="input-group date" id="popup_startTime" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input input" name="startTime"
                    data-target="#popup_startTime" autocomplete="off" id="val_startTime" />
                  <div class="input-group-append" data-target="#popup_startTime" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Đến <span class="text-danger">*</span></label>
                <div class="input-group date" id="popup_endTime" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input input" name="endTime"
                    data-target="#popup_endTime" autocomplete="off" id="val_endTime" />
                  <div class="input-group-append" data-target="#popup_endTime" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Số gọi đi</label>
                <input type="text" class="form-control input" id="val_caller" name="caller" />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Số gọi đến</label>
                <input type="text" class="form-control input" id="val_called" name="called" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <!-- <div class="form-group">
                <label>Họ tên</label>
                <input class="form-control input" type="text" id="val_fullName" name="fullName">
              </div> -->

              <div class="form-group">
                <label>Họ tên</label>
                <select class="form-control selectpicker input" name="fullName" id="val_fullName" data-live-search="true"
                  title="Chọn..." multiple>
                  <% teamsDetail.forEach((team)=> { %>
                    <option value="<%= team.memberId %>">
                      <%= team.memberFullName %>
                    </option>
                    <% }); %>
                </select>
              </div>

            </div>
            <div class="col-6">

              <!-- <div class="form-group">
                <label>Tên đăng nhập</label>
                <input class="form-control input" type="text" id="val_userName" name="userName">
              </div> -->

              <div class="form-group">
                <label>Tên đăng nhập</label>
                <select class="form-control selectpicker input" name="userName" id="val_userName" data-live-search="true"
                  title="Chọn..." multiple>
                  <% teamsDetail.forEach((team)=> { %>
                    <option value="<%= team.memberId %>">
                      <%= team.memberUserName %>
                    </option>
                    <% }); %>
                </select>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Đội ngũ</label>
                <select class="form-control selectpicker input" name="teams" id="val_teams" data-live-search="true"
                  title="Chọn..." multiple>
                  <% teams.forEach((team)=> { %>
                    <option value="<%= team.teamId %>">
                      <%= team.teamName %>
                    </option>
                    <% }); %>
                </select>
              </div>
            </div>
            
            <!-- <div class="col-6">
              <div class="form-group">
                <label>Tên nhóm</label>
                <input class="form-control input" type="text" id="val_teamName" name="teamName">
              </div>
            </div> -->
            <div class="col-6">
              <div class="form-group">
                <label>Hướng gọi</label>
                <select class="form-control selectpicker input" name="callDirection" id="val_callDirection"
                  data-live-search="true" title="Chọn..." multiple>
                  <option value="inbound">inbound</option>
                  <option value="outbound">outbound</option>
                </select>
              </div>
            </div>
          </div>
          
          <div class="modal-footer justify-content-between">
            <div>
              <button type="button" class="btn btn-outline-primary float-left" data-dismiss="modal"
                id="clear_local_storage">
                <i class="far fa-trash-alt"></i>
                <span>Phục hồi mặc định</span>
              </button>
            </div>
            <div>
              <button type="button" class="btn btn-outline-danger" id="btn_cancel">
                <span>×</span>
                <span>Hủy</span>
              </button>
              <button type="button" class="btn btn-primary" id="btn_advanced_search">
                <i class="fas fa-search p-0"></i>
                <span>Lưu</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal_customs_table">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Tùy chỉnh bảng</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li class="mb-3 border-bottom">
            <input class="form-check-input" type="checkbox" name="" id="select-all" />
            <label>Chọn tất cả</label>
          </li>
        </ul>
        <ul id="sortable">
          <li class="mb-3 border-bottom">
            <input class="form-check-input" type="checkbox" name="direction" />
            Hướng gọi <i class="fas fa-arrows"></i>
            <span style="float: right;">
              <i class="fas fa-arrows-alt" title="Giữ kéo/thả để sắp xếp"></i>
            </span>
          </li>
          <li class="mb-3 border-bottom">
            <input class="form-check-input" type="checkbox" name="agentName" />
            Điện thoại viên
            <span style="float: right;">
              <i class="fas fa-arrows-alt" title="Giữ kéo/thả để sắp xếp"></i>
            </span>
          </li>
          <li class="mb-3 border-bottom">
            <input class="form-check-input" type="checkbox" name="teamName" />
            Nhóm
            <span style="float: right;">
              <i class="fas fa-arrows-alt" title="Giữ kéo/thả để sắp xếp"></i>
            </span>
          </li>
          <li class="mb-3 border-bottom">
            <input class="form-check-input" type="checkbox" name="caller" />
            Số gọi đi
            <span style="float: right;">
              <i class="fas fa-arrows-alt" title="Giữ kéo/thả để sắp xếp"></i>
            </span>
          </li>
          <li class="mb-3 border-bottom">
            <input class="form-check-input" type="checkbox" name="called" />
            Số gọi đến
            <span style="float: right;">
              <i class="fas fa-arrows-alt" title="Giữ kéo/thả để sắp xếp"></i>
            </span>
          </li>
          <li class="mb-3 border-bottom">
            <input class="form-check-input" type="checkbox" name="origTime" />
            Ngày giờ gọi
            <span style="float: right;">
              <i class="fas fa-arrows-alt" title="Giữ kéo/thả để sắp xếp"></i>
            </span>
          </li>
          <li class="mb-3 border-bottom">
            <input class="form-check-input" type="checkbox" name="duration" />
            Thời lượng
            <span style="float: right;">
              <i class="fas fa-arrows-alt" title="Giữ kéo/thả để sắp xếp"></i>
            </span>
          </li>
          <li class="mb-3 border-bottom">
            <input class="form-check-input" type="checkbox" name="audioHtml" />
            Ghi âm
            <span style="float: right;">
              <i class="fas fa-arrows-alt" title="Giữ kéo/thả để sắp xếp"></i>
            </span>
          </li>
        </ul>

        <div class="modal-footer justify-content-between">
          <div>
            <!-- <button type="button" class="btn btn-outline-primary float-left" data-dismiss="modal"
              id="clear_local_storage">
              <i class="far fa-trash-alt"></i>
              <span>Xóa bộ lọc</span>
            </button> -->
          </div>
          <div>
            <button type="button" class="btn btn-outline-danger" id="btn_cancel_customs">
              <span>×</span>
              <span>Hủy</span>
            </button>
            <button type="button" class="btn btn-primary" id="btn_save_customs">
              <i class="fas fa-search p-0"></i>
              <span>Lưu tùy chỉnh</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>