<script>
  var UnlimitedSaveForCall = JSON.parse('<%- JSON.stringify(UnlimitedSaveForCall)%>');
  var dataRetentionPolicy = JSON.parse('<%- JSON.stringify(dataRetentionPolicy)%>');
</script>
<form id="frmDataRetentionPolicy" onsubmit="return false">
  <div class="row">

    <div class="form-group col-sm-3">
      <input type="text" class="form-control inputData" id="nameDataRetentionPolicy" name="nameDataRetentionPolicy"
        placeholder="Chính sách" />
      <span class="d-none duplicateName">Tên chính sách đã được sử dụng</span>
    </div>

    <div class="form-group col-sm-9 ml-auto text-right">
      <button type="button" class="btn btn-default" id="btnCancel">Hủy</button>
      <button type="submit" id="btnSave" data-id="<%- dataRetentionPolicy.id %> " class="btn btn-primary">Lưu</button>
    </div>

  </div>
  <div class="row mb-2 border-bottom border-secondary p-2">
    <div class="col-sm-6 row border-right border-secondary">

      <div class="col-sm-12 p-3">
        <label class="">Cuộc gọi đã được chấm điểm</label>
      </div>

      <div class="col-sm-12 p-3 row">
        <div class="col-sm-3">Lưu lại trong</div>
        <div class="col-sm-3 form-group">
          <input type="text" class="form-control inputData" placeholder="Nhập..." autocomplete="off"
            name="valueSaveForCallGotPoint" id="valueSaveForCallGotPoint"
            value="<%= dataRetentionPolicy.valueSaveForCallGotPoint  %>" <%-
            UnlimitedSaveForCall.UnlimitedSave.value==dataRetentionPolicy.unlimitedSaveForCallGotPoint ? 'disabled' :''
            %>
          >
        </div>
        <div class="col-sm-3">
          <select class="form-control selectpicker inputData" name="typeDateSaveForCallGotPoint"
            id="typeDateSaveForCallGotPoint" data-live-search="true" title="Chọn...">
            <% Object.keys(TypeDateSaveForCall).forEach((item)=> { %>
              <option value="<%= item %>" <%- item==dataRetentionPolicy.typeDateSaveForCallGotPoint ? 'selected' :'' %>>
                <%= TypeDateSaveForCall[item].text %>
              </option>
              <% }); %>
          </select>
        </div>
      </div>

      <div class="col-sm-12 ml-1 p-3 row icheck-primary d-inline">
        <input type="checkbox" class="inputData" id="unlimitedSaveForCallGotPoint" name="unlimitedSaveForCallGotPoint"
          <%- UnlimitedSaveForCall.UnlimitedSave.value==dataRetentionPolicy.unlimitedSaveForCallGotPoint ? 'checked' :''
          %> >
        <label for="unlimitedSaveForCallGotPoint" style=" font-weight: normal;">
          Lưu không giới hạn
        </label>
      </div>

    </div>
    <div class="col-sm-6 row pl-4">

      <div class="col-sm-12 p-3">
        <label class="">Cuộc gọi chưa được chấm điểm</label>
      </div>

      <div class="col-sm-12 row p-3">
        <div class="col-sm-3">Lưu lại trong</div>
        <div class="col-sm-3 form-group">
          <input type="text" class="form-control inputData" placeholder="Nhập..." name="valueSaveForCallNoPoint"
            id="valueSaveForCallNoPoint" autocomplete="off" value="<%= dataRetentionPolicy.valueSaveForCallNoPoint  %>"
            <%- UnlimitedSaveForCall.UnlimitedSave.value==dataRetentionPolicy.unlimitedSaveForCallNoPoint ? 'disabled'
            :'' %>>
        </div>
        <div class="col-sm-3">
          <select class="form-control selectpicker inputData" data-live-search="true" id="typeDateSaveForCallNoPoint"
            name="typeDateSaveForCallNoPoint" title="Chọn...">
            <% Object.keys(TypeDateSaveForCall).forEach((item)=> { %>
              <option value="<%= item %>" <%- item==dataRetentionPolicy.typeDateSaveForCallNoPoint ? 'selected' :'' %>>
                <%= TypeDateSaveForCall[item].text %>
              </option>
              <% }); %>
          </select>
        </div>
      </div>

      <div class="col-sm-12 ml-1 p-3 row icheck-primary d-inline">

        <input type="checkbox" class="inputData" id="unlimitedSaveForCallNoPoint" name="unlimitedSaveForCallNoPoint" <%-
          UnlimitedSaveForCall.UnlimitedSave.value==dataRetentionPolicy.unlimitedSaveForCallNoPoint ? 'checked' :'' %>>
        <label for="unlimitedSaveForCallNoPoint" style=" font-weight: normal;">
          Lưu không giới hạn
        </label>

      </div>

    </div>
  </div>
</form>

<!-- UI phần thêm đội ngũ vào trong chính sách -->
<div class="row mb-2">
  <div class="col-sm-12">
    <label class="text-primary">Thêm đội ngũ</label>
  </div>
  <div class="col-sm-6 d-flex form-group">
    <div class="col-sm-8 pl-0">
      <select class="form-control selectpicker inputData" id="selectAddTeams" data-actions-box="true" multiple
        data-live-search="true" title="Chọn..." data-deselect-all-text="Bỏ chọn tất cả" name="teamId"
        data-select-all-text="Chọn tất cả">
        <% teams.forEach((team)=> { %>
          <option value="<%- team.id %>">
            <%- team.name%>
          </option>
          <% }) %>
      </select>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-block btn-primary float-sm-left" id="btnAddTeams">
        Thêm
      </button>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-sm-12">
    <label class="text-primary">Danh sách đội ngũ</label>
  </div>
  <div class="col-sm-6 d-flex form-group">
    <div class="col-sm-8 pl-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm..." autocomplete="off">
      </div>
    </div>
    <div class="col-sm-2">
      <button type="button" class="form-control btn btn-primary btn-circle" id="btn_search_member">
        <i class="fas fa-search p-0"></i>
      </button>
    </div>
  </div>
</div>

<div class="row" id="listTeam"></div>